# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\janaj\OneDrive\Documents\bioinformatika\projekt_navarro\GonzaloNavarro_PatternMatchingOnHypertext\GonzaloNavarro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
